body {
    /*margin for the card*/
    margin: 50px; 

    /*text*/
    font-family: Arial, Helvetica, sans-serif; /*if-Else if-else statement for fonts with condition of (isDownloadedInSystem)*/
    text-align: right;

    /*background of entire page*/
    background: #f0f7f4; /* #b3bfb8;  #160f29; #ddbea8;  #b9faf8; */
    /*Use coolors.co for color combos*/
}

.profile-img {
    /*sets width of the image*/
    width: 200px;
    border-radius: 30px;
    box-shadow: 7px 7px 3px #3c493f ;
}

.container {
    /*This part sets width of the card, sets flex display, and justify it to centre pushing space around everything.*/
    width: 600px;
    display: flex;
    margin: 0 auto; /*yaxis xaxis*/
    justify-content: space-around;

    /*padding btw flex children and container*/
    padding: 20px;

    /*background of card*/
    background: #a2e3c4; /* #f3dfc1;  #b298dc;*/

    /*Since i didnt use any borders in this, only radius prop of border is used.*/
    border-radius: 30px;

    /*adds shadow to the card*/
    box-shadow: 10px 10px 4px #3c493f ; /*1st, 2nd attribute: bottom and right thickness of shadow. 3rd attribute: blurness of the shadow.*/
    /* for reversing from bottom-right to top-write just add 4th attribute 'inset'*/

    /*sets color of the text*/
    color: #2b2839;
}

.container:hover, .profile-img:hover {
    /*this part makes the border radius zero when we hover through the card*/
    border-radius: 0px;
}
